/* Reset formatting and styles */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: normal;
    list-style: none;
}

#homepage {

  background: url("ubi-background.jpg") no-repeat right center;
  background-size: cover;

}